<!--header component-->
<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header col-md-2">
        <a class="navbar-brand" href="#">App Demo </a>
      </div>
      <div class="devices col-md-10">
        
        <ul class="device__list">
          <li class="ios device__list-item selected" id="iphone-5" (click)="changeDevice('iphone-5')">Iphone 5</li>
          <li class="ios device__list-item" id="iphone-6" (click)="changeDevice('iphone-6')">Iphone 6</li>
          <li class="andriod device__list-item" id="iphone-7" (click)="changeDevice('iphone-7')">Nexus</li>
        </ul>
        
      </div>
    </div>
  </nav>

  <div class="modal fade" tabindex="-1" role="dialog" id="viewJsonData">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      Json data
    </div>
  </div>
</div>
</header>
<!--header component-->