body{
    background: #fff;
}

img{width: 100%;}

.iphone-5, .iphone-6, .iphone-7{
    margin: 0 auto;
    overflow: auto;
    background: #fff;
    border-radius: 10px;
}
.iphone-6, .iphone-7{
    width: 414px;
    height: 628px;
}

.iphone-5{
    background: url("../../assets/img/iphone-5-portrait.png") no-repeat;
    width: 367px;
    height: 850px;
}
.iphone-6{
    background: url("../../assets/img/iphone-6-portrait.png") no-repeat;
    width: 423px;
    height: 1000px;
}
.iphone-7{
    background: url("../../assets/img/iphone-6-plus-portrait.png") no-repeat;
    width: 462px;
    height: 1000px;
}
.phone-area{
    padding: 124px 22px 50px 23px;
    
}
.iphone-5 .elements{
    height: 504px;
    overflow-x: auto;
}