:host(app-devicepage) {
    display: block;
    width: 100%;
    height: calc(100vh - 50px);
}
.device-area{
    background: #f0f0f0;
    width: 100%;
    height: 100%;
    position: relative;

    &__topbar{
        background: #fff;
        padding: 10px 5px;
        border-bottom: solid 1px #ccc;
    }

    &__rotate-icon{
        background: url("../../assets/img/rotate.png") no-repeat 0 0 / 100% 100%;
        width: 22px;
        height: 22px;
        float: left;
        margin-top: 5px;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition:  transform .3s ease-in-out;
        cursor: pointer;

        &:hover{
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }

    &__all{
        margin: 5px auto;
        overflow: auto;
        border-radius: 10px;
        height: calc( 90vh - 55px ); /* removed top bar height, subject to change*/ 
        transition: transform 0.2s ease;
    }

    &__iphone{
        background: url("../../assets/img/iPhone.png") no-repeat 0 0;
        width: 260px;
    }

    &__iphone--true{
         -webkit-transform: rotate(90deg);
         transform: rotate(90deg);
    }

    &__ipad{
        background: url("../../assets/img/iPad.png") no-repeat 0 0;
        width: 360px;
    }
    
     &__ipad--true{
         -webkit-transform: rotate(90deg);
         transform: rotate(90deg);
    }

    &__android{
        background: url("../../assets/img/android-mobile.png") no-repeat 0 0;
        width: 260px;
    }

    &__android--true{
         -webkit-transform: rotate(90deg);
         transform: rotate(90deg);
    }

    &__android-tab{
        background: url("../../assets/img/android-tab.png") no-repeat 0 0;
        width: 360px;
    }
    
     &__android-tab--true{
         -webkit-transform: rotate(90deg);
         transform: rotate(90deg);
    }

    &__full-screen-container{
        
        transition: background 0.2s ease;
        
        &.active{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #fff;
            z-index: 11;
            
        }
        
    }
    &__full-screen-button{
        color: #888;
        font-size: 20px;
        position: absolute;
        left: 0;
        top: 65px;
        transition: font-size 0.2s ease;
        padding: 10px;
        cursor: pointer;

        &:hover{
            color: #000;
            text-decoration: none;
            font-size: 22px;
        }
    }
}

// .iphone-5, .iphone-6, .iphone-7{
//     margin: 0 auto;
//     overflow: auto;
//     background: #fff;
//     border-radius: 10px;
// }
// .iphone-6, .iphone-7{
//     width: 414px;
//     height: 628px;
// }

// .iphone-5{
//     background: url("../../assets/img/iphone-5-portrait.png") no-repeat;
//     width: 367px;
//     height: 850px;
// }
// .iphone-6{
//     background: url("../../assets/img/iphone-6-portrait.png") no-repeat;
//     width: 423px;
//     height: 1000px;
// }
// .iphone-7{
//     background: url("../../assets/img/android-nexus-4-portrait.png") no-repeat;
//     width: 428px;
//     height: 915px;
//     padding: 90px 22px 228px 23px !important;
// }
// .phone-area{
//     padding: 124px 22px 50px 23px;
    
// }
// .elements{
//     padding: 10px;
// }
// .iphone-5 .elements{
//     height: 504px;
//     overflow-x: auto;
// }
// .export-button{
//     position: fixed;
//     top: 2px;
//     right: 20px;
// }
// .panel{
//     margin-bottom: 10px;
// }
// .panel:hover{
//     background: #efefef;
// }
// .button-panel, .text-panel{display: none;}

// .form-comp.left{
//     float: left;
//     width: 50%;
// }
// .form-comp.right{
//     float: right;
//     width: 50%;
// }

// .panel-body{
//     padding: 5px;
// }
