:host(app-devicepage) {
    display: block;
    width: 100%;
    height: calc(100vh - 50px);
}
.device-area{
    background: #f0f0f0;
    width: 100%;
    height: 100%;
    position: relative;

    &__phone{
        margin: 30px auto;
        overflow: auto;
        background: #fff;
        border-radius: 10px;
    }

    &__iphone-5{
        background: url("../../assets/img/iphone-5.png") no-repeat;
        width: 367px;
        height: 480px;
    }

    &__full-screen{
        color: #888;
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 65px;
        transition: font-size 0.3s ease;

        &:hover{
            font-size: 17px;
            color: #000;
            text-decoration: none;
        }
    }
}
// .iphone-5, .iphone-6, .iphone-7{
//     margin: 0 auto;
//     overflow: auto;
//     background: #fff;
//     border-radius: 10px;
// }
// .iphone-6, .iphone-7{
//     width: 414px;
//     height: 628px;
// }

// .iphone-5{
//     background: url("../../assets/img/iphone-5-portrait.png") no-repeat;
//     width: 367px;
//     height: 850px;
// }
// .iphone-6{
//     background: url("../../assets/img/iphone-6-portrait.png") no-repeat;
//     width: 423px;
//     height: 1000px;
// }
// .iphone-7{
//     background: url("../../assets/img/android-nexus-4-portrait.png") no-repeat;
//     width: 428px;
//     height: 915px;
//     padding: 90px 22px 228px 23px !important;
// }
// .phone-area{
//     padding: 124px 22px 50px 23px;
    
// }
// .elements{
//     padding: 10px;
// }
// .iphone-5 .elements{
//     height: 504px;
//     overflow-x: auto;
// }
// .export-button{
//     position: fixed;
//     top: 2px;
//     right: 20px;
// }
// .panel{
//     margin-bottom: 10px;
// }
// .panel:hover{
//     background: #efefef;
// }
// .button-panel, .text-panel{display: none;}

// .form-comp.left{
//     float: left;
//     width: 50%;
// }
// .form-comp.right{
//     float: right;
//     width: 50%;
// }

// .panel-body{
//     padding: 5px;
// }
