<div class="tabs">
  <ul class="tabs__container">
    <li class="tabs__item">
      <a class="tabs__item-link" href="#tab1default" data-toggle="tab">All</a>
    </li>
    <li class="tabs__item"><a class="tabs__item-link" href="#tab2default" data-toggle="tab">Floorplans</a>
    </li>
    <li class="tabs__item"><a class="tabs__item-link" href="#tab3default" data-toggle="tab">Frameworks</a>
    </li>
    <li class="tabs__item"><a class="tabs__item-link" href="#tab4default" data-toggle="tab">Views</a>
    </li>
    <li class="tabs__item active"><a class="active tabs__item-link" href="#tab5default" data-toggle="tab">Field Types</a>
    </li>
    <li class="tabs__item"><a class="tabs__item-link" href="#tab6default" data-toggle="tab">Controls</a></li>
  </ul>
  <div class="tabs__body tab-content">
    <div class="tab-pane fade" id="tab1default">All Content here</div>
    <div class="tab-pane fade" id="tab2default">Floorplans content here</div>
    <div class="tab-pane fade" id="tab3default">Frameworks content here</div>
    <div class="tab-pane fade" id="tab4default">Views content here</div>
    <div class="tab-pane fade in active" id="tab5default">
      <ul class="tabs__content-items">
        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/01-Text-Input.png" dnd-draggable [dragData]="textComponent" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Text Input</span>


          <div class="tabs__properties {{textComponent[0].schema}}">
            <span class="tabs__close-icon glyphicon glyphicon-remove-circle" (click)="ShowHidePanel(textComponent[0].schema)"></span>
            
            <form #component1Form="ngForm" (ngBlur)="addTextProperties(component1Form)">

              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" #name ngModel>
              </div>
              <div class="form-group">
                <label for="text">Text</label>
                <textarea class="form-control" name="text" #text ngModel></textarea>
              </div>
              <div class="form-group">
                <input type="checkbox" name="allowHtml" #allowHtml ngModel>
                <label for="allowHtml">Allow HTML</label>
              </div>
               <div class="form-group">
                <input type="checkbox" class="" name="auto" #auto ngModel>
                <label for="auto">Auto</label>
              </div>
               <div class="form-group">
                <label for="height">Height</label>
                <input type="number" class="form-control" name="height" #height ngModel>
              </div>
               <div class="form-group">
                <label for="width">Width</label>
                <input type="number" class="form-control" name="width" #width ngModel>
              </div>
               <div class="form-group">
                <input type="checkbox" name="autoShrink" #autoShrink ngModel>
                <label for="autoShrink">Auto shrink</label>
              </div>
               <div class="form-group">
                <input type="checkbox" name="autoLink" #autoLink ngModel>
                <label for="autoLink">Auto link</label>
              </div>
              <div class="form-group">
                <label for="alignment" >Alignment</label>
                <select class="form-control" name="alignment" ngModel #alignment>
                  <option selected>Left</option>
                  <option>Right</option>
                  <option>Center</option>
                </select>
              </div>
              <div class="form-group">
                <label for="alphaChannel">alpha Channel</label>
                <input type="number" class="form-control" name="alphaChannel" #alphaChannel ngModel>
              </div>

               <div class="form-group">
                <input type="checkbox" class="" name="sharingEnabled" #sharingEnabled ngModel>
                <label for="sharingEnabled">sharing Enabled</label>
              </div>

              <div class="form-group">
                <label for="textStyle" >Text Styel</label>
                <select class="form-control" name="textStyle" ngModel #textStyle>
                  <option selected>Global Stylr</option>
                  <option>Some othe style</option>
                  <option>Some othe style 2</option>
                </select>
              </div>

              <div class="form-group">
                <label for="backgroundStyle" >Background Style</label>
                <select class="form-control" name="backgroundStyle" ngModel #backgroundStyle>
                  <option selected>Global Stylr</option>
                  <option>Some othe style</option>
                  <option>Some othe style 2</option>
                </select>
              </div>

              <button type="submit">Update</button>
            </form>
          </div> 
        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/05-Drop-Down.png" dnd-draggable [dragData]="selectComponent" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Select</span>
         
           <div class="tabs__properties {{selectComponent[0].schema}}">

            <span class="tabs__close-icon glyphicon glyphicon-remove-circle" (click)="ShowHidePanel(selectComponent[0].schema)"></span>

            <form #component2Form="ngForm" (ngSubmit)="addSelectProperties(component2Form)">

              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" #name ngModel>
              </div>
              <div class="form-group">
                <label for="text">Text</label>
                <textarea class="form-control" name="text" #text ngModel></textarea>
              </div>
              <div class="form-group">
                <input type="checkbox" name="allowHtml" #allowHtml ngModel>
                <label for="allowHtml">Allow HTML</label>
              </div>
               <div class="form-group">
                <input type="checkbox" class="" name="auto" #auto ngModel>
                <label for="auto">Auto</label>
              </div>
               <div class="form-group">
                <label for="height">Height</label>
                <input type="number" class="form-control" name="height" #height ngModel>
              </div>
               <div class="form-group">
                <label for="width">Width</label>
                <input type="number" class="form-control" name="width" #width ngModel>
              </div>
               <div class="form-group">
                <input type="checkbox" name="autoShrink" #autoShrink ngModel>
                <label for="autoShrink">Auto shrink</label>
              </div>
               <div class="form-group">
                <input type="checkbox" name="autoLink" #autoLink ngModel>
                <label for="autoLink">Auto link</label>
              </div>
              <div class="form-group">
                <label for="alignment" >Alignment</label>
                <select class="form-control" name="alignment" ngModel #alignment>
                  <option selected>Left</option>
                  <option>Right</option>
                  <option>Center</option>
                </select>
              </div>
              <div class="form-group">
                <label for="alphaChannel">alpha Channel</label>
                <input type="number" class="form-control" name="alphaChannel" #alphaChannel ngModel>
              </div>

               <div class="form-group">
                <input type="checkbox" class="" name="sharingEnabled" #sharingEnabled ngModel>
                <label for="sharingEnabled">sharing Enabled</label>
              </div>

              <div class="form-group">
                <label for="textStyle" >Text Styel</label>
                <select class="form-control" name="textStyle" ngModel #textStyle>
                  <option selected>Global Stylr</option>
                  <option>Some othe style</option>
                  <option>Some othe style 2</option>
                </select>
              </div>

              <div class="form-group">
                <label for="backgroundStyle" >Background Style</label>
                <select class="form-control" name="backgroundStyle" ngModel #backgroundStyle>
                  <option selected>Global Stylr</option>
                  <option>Some othe style</option>
                  <option>Some othe style 2</option>
                </select>
              </div>

              <button type="submit">Update</button>
            </form>
          </div>
          
        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/02-Numeric-Input.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Numeric Inpput</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/03-Date.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img" alt="Text Input"
          />
          <span class="tabs__content-item-name">Date</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/04-Switch.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Switch</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/06-Input-Drop-Down.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Input drop down</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/07-Multi-Value-Drop-Down.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Multi Value Drop Down</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/09-Attachments.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Attachments</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/08-Slider.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Slider</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/05-Drop-Down.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Select</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/10-Long-Input.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Long Input</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/11-Input-or-Scan.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Input or Scan</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/12-Scan.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img" alt="Text Input"
          />
          <span class="tabs__content-item-name">Scan</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/13-Check-Box.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Check Box</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/14-Signature.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Signature</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/15-Display-interactive.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Display interactive</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/16-Display.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Display</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/05-Drop-Down.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Select</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/17-Drop-Down-Range.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Drop Down Range</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/18-Date-Range.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Date Range</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/19-Text-Range.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Text Range</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/20-Numeric-Range.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Numeric Range</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/21-Input-Drop-Down-Range.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Input Drop Down Range</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/22-Scan-Input-Drop-Down.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Scan Input Drop Down</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/23-Long-Text-Display.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Long Text Display</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/24-Time-Select.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Time Select</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/25-Time-Display.png" dnd-draggable [dragData]="testInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Time Display</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/26-Numeric-Input-Drop-Down.png" dnd-draggable [dragData]="selectInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Numeric Input Drop Down</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/27-Geo-Location-Address-Display.png" dnd-draggable [dragData]="selectInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Geo Location Address Display</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/28-Geo-Location-Coordinates-Display.png" dnd-draggable [dragData]="selectInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Geo Location Coordinates Display</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/29-Geo-Location-Address-Input.png" dnd-draggable [dragData]="selectInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Geo Location Address Input</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/30-Geo-Location-Coordinate-Input.png" dnd-draggable [dragData]="selectInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Geo Location Coordinate Input</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/31-Input-Drop-Down-Multi-Value.png" dnd-draggable [dragData]="selectInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Input Drop Down Multi Value</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/32-Numeric-Input-Drop-Down-Multi-Value.png" dnd-draggable [dragData]="selectInput"
            class="tabs__content-item-img" alt="Text Input" />
          <span class="tabs__content-item-name">Numeric Input Drop Down Multi Value</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/33-Numeric-Field-Multi-Value.png" dnd-draggable [dragData]="selectInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Numeric Field Multi Value</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/34-Image-Capture.png" dnd-draggable [dragData]="selectInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Image Capture</span>

        </li>

        <li class="tabs__content-item">
          <img src="../../assets/img/field-types/35-Video-Recording.png" dnd-draggable [dragData]="selectInput" class="tabs__content-item-img"
            alt="Text Input" />
          <span class="tabs__content-item-name">Video Recording</span>

        </li>
      </ul>

    </div>
    <div class="tab-pane fade" id="tab6default">Controls content here
    </div>
  </div>
</div>