<div class="tabs">
  <ul class="tabs__container">
    <li class="tabs__item">
      <a class="tabs__item-link" href="#tab1default" data-toggle="tab">All</a>
    </li><li class="tabs__item"><a class="tabs__item-link" href="#tab2default" data-toggle="tab">Floorplans</a>
    </li><li class="tabs__item"><a class="tabs__item-link" href="#tab3default" data-toggle="tab">Frameworks</a>
    </li><li class="tabs__item"><a class="tabs__item-link" href="#tab4default" data-toggle="tab">Views</a>
    </li><li class="tabs__item active"><a class="active tabs__item-link" href="#tab5default" data-toggle="tab">Field Types</a>
    </li><li class="tabs__item"><a class="tabs__item-link" href="#tab6default" data-toggle="tab">Controls</a></li>
  </ul>
  <div class="tabs__body tab-content">
    <div class="tab-pane fade" id="tab1default">All Content here</div>
    <div class="tab-pane fade" id="tab2default">Floorplans content here</div>
    <div class="tab-pane fade" id="tab3default">Frameworks content here</div>
    <div class="tab-pane fade" id="tab4default">Views content here</div>
    <div class="tab-pane fade in active" id="tab5default">
      <ul class="tabs__content-items">
        <li class="tabs__content-item" *ngFor="let fieldType of fieldTypes; let i = index"  dnd-draggable [dragData]="fieldType">
          <img class="tabs__content-item-img" *ngIf="fieldType.imgUrl!=''" src="{{fieldType.imgUrl}}" />
          <span class="tabs__content-item-name">{{fieldType.name}}</span>
          <div class="tabs__properties form-{{i}}">
            <span class="tabs__close-icon glyphicon glyphicon-remove-circle" (click)="ShowHidePanel(i)"></span>
            Properties here
          </div>
        </li>
      </ul>
      
    </div>
    <div class="tab-pane fade" id="tab6default">Controls content here
    </div>
  </div>
</div>