<div class="tab-container">
  <ng2-tab selected="fieldtypes" selected-index-class="tab-container__tab-item__selected" selected-contents-class="fadeIn animated">
    <div class="tab-container__tabs">
      <span class="tab-container__tab-item" 
      index="all">All</span><span class="tab-container__tab-item" 
      index="floorplans">Floorplans</span>
      <span class="tab-container__tab-item" 
      index="frameworks">Frameworks</span><span class="tab-container__tab-item" 
      index="views">Views</span><span class="tab-container__tab-item" 
      index="fieldtypes">Field Types</span><span class="tab-container__tab-item" 
      index="controls">Controls</span>
    </div>
    <div class="tab-container__contents">
      <div contents="all">All here {{1}}</div>
      <div contents="floorplans">Floorplans here</div>
      <div contents="frameworks">Frameworks here</div>
      <div contents="views">Views here</div>
      <div contents="fieldtypes">Field types here</div>
      <div contents="controls">Controls here</div>

    </div>
  </ng2-tab>
</div>