.leftpaneheader{
    background: #e3e3e3;
    padding: 10px 0;

    &__link{
        color: #242424;
        // > mixins
        transition: color 1s ease;

        &:hover{
            color: #8c8c8c;
            text-decoration: none;
            
        }
    }
}