<div class="leftpaneheader">
  <div class="row">
    <div class="col-md-12">
    <div class="col-md-4">mOrder</div>
    <div class="col-md-2">
      <a href="#" class="leftpaneheader__link glyphicon glyphicon-search"></a>
    </div>
    <div class="col-md-2">
      <a href="#" class="leftpaneheader__link glyphicon glyphicon-flag"></a>
    </div>
    <div class="col-md-2">
      <a href="#" class="leftpaneheader__link glyphicon glyphicon-folder-close"></a>
    </div>
    <div class="col-md-2">
      <a href="#" class="leftpaneheader__link glyphicon glyphicon-plus"></a>
    </div>
  </div>
  </div>
</div>