<div class="top-bar">
  <div class="row">
    <div class="col-md-6">
        <select class="form-control">
              <option selected>Screen Sizes</option>
              <option>Iphone 5 | 320 x 568</option>
              <option>Iphone 6 | 375 x 667</option>
              <option>Iphone 6 plus | 414 x 736</option>
              <option>Android | Nexus | 384 x 600</option>
        </select>
    </div>
    <div class="col-md-4 pull-right text-right">
        <button class="btn btn-primary">Save</button>
        <button class="btn btn-default">Preview</button>
    </div>
  </div>
</div>